*.class
*.log
*.pdf
*.docx
*.so
data/*.csv
.tmp
data/stats.json
data/coeficientes.json
data/actividad*
data/output_worker_*
entorno/
build/
plots*
backend
.vscode/
daemons
.wget-hsts
.python_history
.sudo_as_admin_successful
.bash_history
.cache
--exec
.env
test*
resultado_*
debug*
data/model_final.json
_*